body,html{ margin: 0; padding: 0; width: 100%; height: 100%; }

body >div{
  width: 100%;
  height: 100%;
}
a{
  color: initial;
  text-decoration: initial;
}


.on1-navbar{
  width: 100%;
  line-height: 64px;
  height: 64px;
  position: fixed;
  top: 25px;
  z-index: 9;

  &-container{
    padding: 0 50px;
    height: 100%;

    &-left{
      color: #3644FD;
      font-size: 26px;
      font-weight: 600;
      font-family: Montserrat, serif;
      display: inline-block;
      cursor: pointer;
    }

    &-right{
      float: right;

      .nav-item{
        font-size: 14px;
        color: #2128bd;
        padding: 0 30px;
        font-weight: 600;
        letter-spacing: 2px;
        height: 100%;
        display: inline-block;
        cursor: pointer;
        transition: all 0.15s;
        
        &:hover{
          background: #2128bd;
          color: #fff;
        }
      }
    }
  }
}

.on1-content{
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  transition: all 0.3s;

  >section{
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.on1-home{
  &-content{
    font-size: 8vw;
    color: #2128bd;
    font-family: Montserrat,sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}

.on1-service{
  background: #fdf0e5;

  &-content{
    color: #2128bd;
    font-family: Montserrat,sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    .services{
      font-size: 0;

      span{
        padding: 0 10px 0 5px;
        margin-right: 30px;
        position: relative;
        font-size: 55px;
        user-select: none;

        &::after{
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          left: 0;
          background-color: #2128bd;
          opacity: 0.6;
          transition: all 0.3s;
          transform-origin: center;
          transform: scaleY(0.2);
          z-index: -1;
        }

        &:hover{
          color: #fff;

          &::after{
            transform: scaleY(1);
            opacity: 1;
          }
        }
      }
    }

    .slogan{
      font-size: 50px;
      color: #2128bd;
      opacity: 0.6;
    }
  }
}

.on1-contact{
  background: #ecf1fd;

  .content{
    font-size: 20px;
    // color: #2128bd;
    color: #b4b5b4;
    font-family: Montserrat,sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;

    .contact{
      margin-top: 30px;
      color: #000;
      font-size: 50px;
      position: relative;
      font-weight: 300;

      &::after{
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        bottom: -3px;
        transition: all 0.2s;
        height: 2px;
        background-color: #000;
        transform: scaleX(0);
        transform-origin: left center;
      }

      &:hover::after{
        transform: scaleX(1);
        transform-origin: right center;
      }
    }
  }
}